# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# Ignore semua file json
*.json

# PENGECUALIAN (JANGAN DIHAPUS):
# File-file ini wajib ada supaya project bisa jalan/install
!package.json
!package-lock.json
!app.json
!tsconfig.json
!eas.json

# Upload directories (optional - uncomment if you don't want to track uploads)
# upload/
upload/dokumentasi/
# upload/arsip_files/
# upload/profiles/
